/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .navbar {
   background-color: #f78069;
 }

#bod .navbar a {
   color:#fff;
 }

 #bod .navbar a:hover {
    color:#f78069;
  }

#bod .navbar-header .navbar-brand {
  transition: 0.3s ease all;
}

  #bod .navbar-header .navbar-brand:hover {
    background-color: #fff;
    color:#f78069;
  }

 #bod .navbar li {
   transition: 0.3s ease all;
 }

 #bod .navbar li:hover {
   background-color:#fff;
 }


#bod .panel {
  border-radius:0;
}
